body {
  background-color: lightgray;
}

.shopBox {
  width: 300px;
  height: 350px;  
  box-shadow: 5px 5px 10px black;
  margin-top: 50px;
  margin-left: 35px;
  border-radius: 5px;
  background-color: white;
}

.shopBox button {
  border-radius: 15px;
  background-color: red;
  border: black 1px solid;
  color: white;
  font-weight: bold;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  margin-left: 65px;
  margin-top: 10px;
}

.shopBox img {

  width: 200px;
  height: 200px;
  margin-left: 45px;
}

.name {

  margin-top: 10px;
  margin-left: 5px;
  font-size: 30px;
}

.cost {
  margin-left: 5px;
  font-size: 20px;
  margin-top: 10px;
}

.shopContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}